*{
    margin: 0;
    padding: 0;
}
/* .chat{
    width: 70vw;
    height: 100vh !important;
} */

.chat{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh ;
    min-width: max-content;
}

.chatheader{
    display: flex ;
    align-items: center;
    border-bottom: 1px solid lightgray;
    /* min-width: 70vw; */

}


.chatheaderinfo{
    margin-left: 1rem;
    align-items: center;
    flex: 1;
}

.chatheaderinfo > h3{
    /* margin-bottom: 3px; */
    font-weight: 500;
}

.chatheaderinfo > p{
    color: gray;
}

.chatheaderright{
    display: flex;
    justify-content: space-evenly;
    /* min-width: 100px; */
}

.chatbody{
    /* height: 79%; */
    background-image: url("https://i.pinimg.com/600x315/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    background-size: cover;
}

.chatmsg{
    position: relative;
    font-size: 1rem;
    padding: .8rem;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 1.5rem;
}

.chatname{
    position: absolute;
    top:-1rem;
    font-weight: 800;
    font-size: x-small ;
}

.chattimestamp{
    margin-left: .8rem;
    font-size: xx-small;
}

.chatmsgrecieve{
    margin-left: auto;
    background-color: aquamarine;
}

.chatfooter{
    /* height: max-content; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-width: 100px; */
    border-top: 1px solid lightgray;
    background-color: rgb(233, 230, 230);
}

.chatfooter > form{
    flex: 1;
    display: flex;
}

.chatfooter > form > input{
    padding: .3rem;
    border: 1px solid grey;
    height: 1.5rem;
    background-color: white;
    flex: 1;
    border-radius: .3rem;
}

input:focus{
    outline-color: gray;
}

.nonebtn{
    border: none;
    background-color: transparent;
}