*{
  margin: 0;
  padding: 0;
}

.app{
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
}

.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer{
  text-align: center;
}

.chatfromapp{
  height: 100vh;
  width: 70%;
  /* background-color: red; */
}

