*{
  margin: 0;
  padding: 0;
}

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincontainer{
  
  text-align: center;
}